@use 'src/resources/styles/variables';
.input {
  width: 250px;
  input {
    font-weight: 300!important;
  }
}

.numberInput {
  width: 250px;
  padding: 14px;
  height: 54px;
  border-radius: 6px;
  font-weight: 300!important;
}

.searchTextInput {

  input {
    font-size: variables.$fontSizeMd!important;

  }
  :global {
    .ant-select-auto-complete {
      background: rgba(variables.$mainLightColor, 0.3) !important;
      box-shadow: none!important;
    }

    .ant-select-selection-placeholder {
      color: rgba(variables.$mainDarkColor, 0.8);
      font-size: variables.$fontSizeMd;
    }
  }

  img {
    // makes svg green
    filter: invert(65%) sepia(39%) saturate(359%) hue-rotate(121deg) brightness(97%) contrast(89%);
  }

}