@use 'src/resources/styles/variables';

.button {
  height: 48px !important;
  min-width: 90px;
}

.tableAction {
  letter-spacing: 0.75px;
  padding: 4px 11px !important;
  border-radius: 8px !important;
  margin: 0 2px;
  height: 40px !important;
}