@use "src/resources/styles/variables";

.button {
  display: flex;
  align-items: center;
  width: 100%;
  background: variables.$inputBgColor;
  backdrop-filter: blur(20px);
  border-radius: 4px;
  padding: 20px 16px;
  cursor: pointer;

  &:hover {
    background: variables.$darkLabelBgColor;
  }

  .buttonTitle {
    margin: 0 20px;
    font-size: variables.$fontSizeMd;
    color: variables.$mainDarkColor;
    font-weight: 600;
    flex-grow: 1;
  }

  img {
    align-self: flex-end;
    justify-self: flex-end;
  }
}

.modal {
  .forgot {
    text-align: center;

    a {
      color: variables.$primaryColor;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  :global {
    .ant-modal-title {
      text-align: center;
      margin-bottom: 16px;
    }
  }
}
