@use "src/resources/styles/variables";

.projectsList {
  width: 100%;
  margin: 24px 0 26px;
}

.noProjectsPlaceholder {
  width: 350px;
  margin: 50px auto 0;
  text-align: center;

  h3 {
    color: variables.$mainDarkColor;
    font-size: variables.$headline4FontSize;
    font-weight: 300;
    font-family: "Breakers Slab W00", serif!important;
  }

  p {
    font-weight: 300;
    font-size: variables.$subtitle1FontSize;
  }
}
