@use "src/resources/styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.backgroundImage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  background-size: cover;
  background-position: center bottom;
}

.card {
  padding: 36px 24px;
  background: rgba(variables.$lightTextColor, 0.3);
  backdrop-filter: blur(30px);
  border-radius: 8px;
  width: 500px;
  z-index: 0;
}

.title {
  margin: 0;
  padding-bottom: 36px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;

  a {
    color: variables.$mainLightColor;

    &:hover {
      opacity: 0.8;
    }
  }
}
